.*.swp
tags
target
/grep/Cargo.lock
/globset/Cargo.lock
/ignore/Cargo.lock
/termcolor/Cargo.lock
/wincolor/Cargo.lock
/deployment
/.idea

# Snapcraft files
stage
prime
parts
*.snap
*.pyc
ripgrep*_source.tar.bz2

# Cargo timings
cargo-timing-*.html
cargo-timing.html

# Browser demo build artifacts
/web/dist
/web/wasm
/web/node_modules
/web/test-results

# ripgrep index
.ripgrep
